{% extends "base.html" %}

{% block content %}
  <h1>Drivers list</h1>
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>License number</th>
    </tr>
  </thead>
    {% for driver in driver_list %}
      <tr>
        <td><a href="{% url 'taxi:driver-detail' driver.id %}">{{ driver.username }}</a></td>
        <td>{{ driver.license_number }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
{% block pagination %}
  {% include "includes/pagination.html" %}
{% endblock %}